h1{
    color: #ba2f0ca1;
}

.card{
    border-style: solid;
    border-width: 5px;
    border-color:black;
    width : 300px;
    border-radius: 30px;
    overflow:hidden;

    text-align: center;

    margin-top:100px;
    margin-left:auto;
    margin-right:auto;

    background-color:white;

}

.card img{
    width: 100%;

}
body{
    background-color:antiquewhite; 
    margin:0px
}

.card button{
    width:60%;
    border-radius:15px;
    padding:10px;
    margin-bottom:15px;
}

.zoro{
    text-align:center;
    border: 3px solid antiquewhite;
    padding-bottom :25px;
    padding-top: 25px;
    background-color:aliceblue;

}

.zoro a{
    margin-right:15px;
    color:black;
    text-decoration:none;
}

.zoro a:hover{
    color: black;
    text-decoration: underline
}